<div class="container mt-5">

<h1>All Babysitters</h1>

  <ul>
    <% @babysitters.each do |babysitter| %>
      <li>
        Name: <%= link_to babysitter.user.first_name, babysitter_path(babysitter) %>,
        Age: <%= babysitter.age %>,
        Location: <%= babysitter.user.address %>,
        Price: $ <%= babysitter.price_per_hour %>,
        Description: <%= babysitter.description %>,
      </li>
    <% end %>
  </ul>

</div>
