<div class="container mt-5">

<%= render "shared/pages_search_bar" %>
<div>
  <p class="babysitter-number">10+ babysitters</p>
  <h2 class="babysitter-title">Babysitters in Tokyo</h2>
</div>
  <div class="cards mt-5">
    <div class="row">
      <% @babysitters.each do |babysitter| %>

          <div class="card-category col-6" style="background-color: white ">
            <div class="top-card p-4">



              <div class="sitter-info">
                <p class="stars mt-3"><%= "⭐️" * 5 %>(4)</p>
                <h1><%= babysitter.user.first_name %></h1>
                <!-- <p><%= babysitter.age %></p> -->
                <!-- <p><%= babysitter.user.address %></p> -->
                <p><%= babysitter.description %></p>
              </div>
              <div class="avatar-large mr-3">
                <%= image_tag babysitter.user.image_url, class: "avatar-large", alt: "avatar-large" %>
              </div>
            </div>
            <div class="bottom_card border-top">
              <p><strong>¥ <%= babysitter.price_per_hour %></strong> /<em>hr</em></p>
            </div>
            <%= link_to '', babysitter_path(babysitter), class: "card-remove-link"  %>
          </div>
      <% end %>
    </div>
  </div>
</div>


