<div class="container mt-5">

<%= render 'shared/home_search_bar' %>
  
  <div class="row">
    <% @babysitters.each do |babysitter| %>
        <div class="col-6">
          <div class="card-category" style="background-color: white ">

            <div class="top-card p-4">
              <div class="sitter-info">
                <% review = rand(1..5) %>
                <p class="stars mt-3"><%= "⭐️" * review %>(<%= review %>)</p>
                <h1><%= babysitter.user.first_name %></h1>
                <!-- <p><%= babysitter.age %></p> -->
                <!-- <p><%= babysitter.user.address %></p> -->
                <p><%= babysitter.description %></p>
              </div>
              <div class="avatar-large mr-3">
                <%= image_tag babysitter.user.image_url, class: "avatar-large", alt: "avatar-large" %>
              </div>
            </div>
            <div class="bottom_card border-top">
              <p><strong>¥ <%= babysitter.price_per_hour %></strong> /<em>hr</em></p>
            </div>
            <%= link_to '', babysitter_path(babysitter), class: "card-remove-link"  %>
          </div>
        </div>
    <% end %>
  </div>
</div>


