<div class="container mt-5">

<h1>Meet <%= @babysitter.user.first_name %></h1>
<p><%= @babysitter.description %></p>

<h4>Location: <%= @babysitter.user.address %></h4>

<h4>Email: <%= @babysitter.user.email %></h4>

<h4>Price: <strong>$ <%= @babysitter.price_per_hour %></strong></h4>

<%= link_to "Return to Babysitters", babysitters_path %>

</div>



