<div class="container mt-5 mx-auto babysitter-card-container">

<div class="container2">
  <%= render "shared/pages_search_bar", class: "showpage-searchbar" %>

  <!-- <h1>Meet <%= @babysitter.user.first_name %> :)</h1> -->

  <div class="reserve-container">

    <div class="card-product">
      <div class="card-header">
        <h1>Meet <%= @babysitter.user.first_name %> :) </h1>
      </div>
      <%= image_tag @babysitter.user.image_url, alt: "alttext"%>

      <div class="card-product-infos ml-3">
        <h1><%= @babysitter.user.first_name %></h1>
        <h4><%= @babysitter.description %></h4>
        <hr>
        <h5>Location: <%= @babysitter.user.address %></h5>

        <h5>Email: <%= @babysitter.user.email %></h5>

        <h5>Price: <strong>¥ <%= @babysitter.price_per_hour %></strong> /<em>hr</em></h5>
      </div>
    </div>

    <div class="sign-form reserve-form">
      <%= render "shared/reservation_form", babysitter: @babysitter, reservation: @reservation %>
    </div>
  </div>
</div>




<%= link_to "Return to Babysitters", babysitters_path, class: "btn btn-outline-info mt-3" %>

</div>





