<div class="container mt-5 mb-3">
  <%= simple_form_for [@babysitter, @reservation] do |f| %>
    <%= f.input :start_time, label: "Start", as: :string, input_html: { class: "datepicker" } %>
    <%= f.input :end_time, label: "End", as: :string, input_html: { class: "datepicker" } %>
    <%= f.input :number_of_children, input_html: { min: 1 }, include_blank: false %>

    Price : <strong>¥ <%= @babysitter.price_per_hour %></strong>
    <hr>
    <%= f.submit "Reserve!", class: 'btn btn-warning' %>
  <% end %>
</div>


